* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* .mainWebsiteContainer {
    max-width: 1500px;
} */

.navbarTopSection {
  min-width: 1120px;
  height: 60px;
}

.bannerSection {
  height: 600px;
  background-image: linear-gradient(rgba(36, 72, 190, 0.5), rgba(36, 72, 190, 0.5)), url("../assets/images/pexels-total-shape-2383010.jpg");
  /* background-image: url("../assets/images/pexels-total-shape-2383010.jpg"); */
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divsUnderBannerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
}

.divsUnderBannerContainer > div {
  width: 200px;
  height: 170px !important;
  background: url("../assets/images/stethoscope.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px -3px 10px rgba(0, 0, 0, 0.16);
}

.brandsUnderBannerConstruction > section   {
    padding: 30px 10px;
}

.bodySection2 {
  width: 1140px;
  height: 600px;
  margin: 0 auto;
}
.bodySection2 > div {
  padding: 10px;
  align-self: stretch;
  width: 50%;

}
.bodySection2_1 {
  width: 100%;
  background-image: url("../assets/images/body2_1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 20px;
}
.bodySection2_1Content {
  width: 90%;
  margin: -20% auto 0;
  padding: 20px;
}

.imgDivBody2 {
  width: 40px;
  height: 40px;
  background-image: url("../assets/images/user.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.lastSectionBody2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}
.lastSectionBody2 > section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bodyStarting {
  /* background: linear-gradient(to right, #a7d9ff, #a7d9ff), url("../assets/images/banner2.svg");
  background-position: center top;
  background-repeat: no-repeat; */
  /* background-size: 50%; */
  position: relative;
  z-index: 10px;
}
.bannerAbsoluteSection {
  width: 100%;
  position: absolute;
  top: 0;
  height: 285px;
  background: url("../assets/images/bannerImage2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed;  */
  z-index: 0;
}
.bodySection2 > div > div {
  height: 28%;
  display: flex;
  width: 100%;
}

.bodySection2_2 {
  background-image: url("../assets/images/body2_2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  border-radius: 20px 0 0 20px;
}
.bodySection2_2Content {
  width: 70%;
  border-radius: 0 20px 20px 0;
  padding: 10px;
}
.lastSectionBody22 {
  margin-top: 10px !important;
  padding: 0 10px;
}

.bodySection2_3 {
  background-image: url("../assets/images/body2_3.jpg");
}
.bodySection2_4 {
  background-image: url("../assets/images/body2_4.jpg");
}

.bodyStarting2 {
  position: relative;
  width: 1120px;
  margin: 0 auto;
}
.bodyStarting2 > section {
  margin: auto;
}
.bodyStarting2 > section > div {
  position: absolute;
  width: 80%;
  height: 81%;
  background: url("../assets/images/bannerImage3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0 0 20px;
  z-index: -1;
}
.contentOfBodyStarting2 {
  padding: 60px 40px;
  margin-left: auto;
  background-color: #186fb186;
  background: linear-gradient(to right, #186fb1af 40%, #186eb1 60%);
  border-radius: 0 20px 20px 0;
  z-index: 20;
}
.bodyStarting3 {
  width: 1140px;
  margin: 0 auto;
}

.bodyStarting3 > div {
  width: 70%;
  margin: 0 auto;
}
.bodyMid1Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1140px; ;
  margin: 0 auto;
}
.bodyMid1Content > div {
  width: 31%;
  height: 500px;
  margin-bottom: 30px;
}
.bodyMid1_1 > div {
  background-image: url("../assets/images/bodyMid2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.bodyMid1Content > div > section {
  margin: -100px 20px 0;
  padding: 15px 20px 20px;
}

.bodyMid1 a {
   font-size: 17px;
}
.bodySecondLast1 {
  width: 500px;
  padding: 0 40px 0 15px;
}
.bodySecondLast2 {
  padding-top: 30px;
  width: 635px;
}
.bodySecondLast1 h2 {
  margin: 8px 0 16px;
}
.bodySecondLast1 p {
  margin-bottom: 15px;
  font-size: 17px;
  /* background-color: #00000060; */
} 



.footerSection {
  padding: 40px 0 150px ;
}
.footerSection > section {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSection > section > div {
  width: 40%;
}
.footerSection > section > section {
  width: 60%;
}